.hide{
  display: none;
}

.table-update-product td{
  vertical-align: middle;
}

.img-update-product{
  width: 150px;
}

.admin-panel{
  text-align: center;
  background-color: #d9534f;
  color:white;
  font-size: 21px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-weight: bolder;
  border:3px solid black;
}
